

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/*.book.font-family-1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}*/
