/* Geral */

p code {
  white-space: inherit;
}

pre {
  word-break: normal;
  word-wrap: normal;
}

pre code {
  white-space: inherit;
}

img {
  margin-top: 20px !important;
  margin-bottom: 30px !important;
}

.book .book-body .page-wrapper .page-inner section.normal .caption {
  color: #777;
  margin-top: -30px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 1.4rem;
}

a:active {
    color: #E60327;
}
h1 {
    color: #0EADC2;
}
h2 {
    color: #0EADC2;
}
h3 {
    color: #0EADC2;
}

/* Identidade visual */
.body-inner {
    background-color: #f6f6ff;
} 

.book .book-body .page-wrapper .page-inner {
    max-width: 1025px;
}

.book .book-body .page-wrapper .page-inner section {
    padding: 5px 3em;
}

.page-inner {
    max-width: 1025px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    /* padding: 1em 30px 15px; */
}

.book .book-body .navigation {
    font-size: 70px;
    color: #ccc;
    text-align: center;
}

.book .book-body .page-wrapper .page-inner section.normal a {
    color: #E60327;
}

.book .book-summary {
  font-family: 'Arvo', serif;
}

.book.font-family-0 {
  font-family: 'Arvo', serif;
}


/* Footer with logo */

footer {
    text-align: center;
}

/* blockquote */

.book .book-body .page-wrapper .page-inner section.normal blockquote {
   background-color: #f0f7fb;
   border-left: solid 4px #0EADC2;
   background-image: url(img/note.png);
   background-repeat: no-repeat;
   background-position: 9px 0;
   width: 75%;
   margin: auto;
   margin-bottom: 10px;
   min-height: 50px;
}

.book .book-body .page-wrapper .page-inner section.normal blockquote > p {
   padding: 12px;
   margin-bottom: 0;
   margin-left: 30px;
   font-size: 0.95em;
   vertical-align: middle;
   line-height: 18px;
}

.book .book-body .page-wrapper .page-inner section.normal blockquote > ul {
   margin-left: 30px;
}

/* lista de exercícios */

div[id^='exercícios-'] ul {
  list-style-type: none;
}